@import "__fun";

$layers: '../images/layers';
$resp: 800px;
$debug: 1;


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
@mixin graygrad(){
    @include vgrad( #fefefe, #ddd);
}
@mixin textshadow() {
    text-shadow: 1px 1px 1px black;
}
@mixin outline($color: $hilite, $width: 4){
    outline: {
        color: $color;
        width: $width * 1px;
    }
}
@mixin buttongrad(){
    @include background-image( linear-gradient(top, $button1 50%, $button2 53%) );
}

//* >^º!º^< */
