/* mix */
@import "__fun";
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
@mixin rex($prop, $rem){
    #{$prop}: $rem * $remx;
    #{$prop}: $rem * 1rem;
}
@mixin pos($x:0, $y:0){
    @include rex('left', $x);
    @include rex('top', $y);
}
@mixin siz($w:0, $h:0){
    @include rex('width', $w);
    @include rex('height', $h);
}

@mixin graygrad(){
    background-color: #ddd;
    @include vgrad( #fefefe, #ddd);
}
@mixin textshadow() {
    text-shadow: 1px 1px 1px black;
}
@mixin outline($color: $hilite, $width: 4){
    outline: {
        color: $color;
        width: $width * 1px;
    }
}
@mixin buttongrad1(){
    background-color: $button1;
    @include background-image( linear-gradient(top, $button1 50%, $button2 53%) );
}
@mixin buttongrad2(){
    background-color: $button2;
    @include background-image( linear-gradient(top, $button2 50%, $button1 53%) );
}

//* >^º!º^< */
