@import "__mix";
/* FLAG */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flag {
    @include user-select(none);
    height: 4em;
    overflow: hidden;
    position: absolute;
    min-width: 7.5em;
    position: relative;
    top: 0;

    div, p {
        position: absolute;
    }
    .box {
        background-color: black;
        height: 3em;
        width: 100%;
    }
    .point {
        background: url('../images/points/black.png') no-repeat left top;
        height: 0.88em;
        left: 0.7em;
        top: 3em;
        width: 1.2em;
    }
    .text {
        background: url('../images/bkgr/headlets.png') #eee;
        background-size: 100% 150%;
        bottom: 1.4em;
        height: 3em;
        right: 0.1em;
        //white-space: nowrap;
        width: 100%;
        p {
            font-size: 1.2em;
            left: 0.5em;
            line-height: 1.1em;
            margin: 0;
            top: 1.0em;
        }
    }
    &.blue {
        div.point {
            background-image: url('../images/points/blue.png');
        }
        div.box {
            background-color: $clrB;
        }
    }
    &.green {
        div.point {
            background-image: url('../images/points/green.png');
        }
        div.box {
            background-color: $clrG;
        }
    }
    &.orange {
        div.point {
            background-image: url('../images/points/orange.png');
        }
        div.box {
            background-color: $clrO;
        }
    }
    &.red {
        div.point {
            background-image: url('../images/points/red.png');
        }
        div.box {
            background-color: $clrR;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
