@import "__mix";
/* LAYOUT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#Page {
    background-color: #fff;
    margin: 0.5em auto;
    padding: 25px 30px;
    width: 960px;

    .col1 {
        display: none;
    }
    #Content > div {
        aside {
            vertical-align: top;
            width: 33%;
        }
        .offer {
            img {
                float: right;
            }
        }
    }
    footer {
        border-top: 1px solid $gryL;
        padding-top: 1em;
    }
    header {
        margin-bottom: 2em;
    }
    nav {
        margin: 1em 0;
        position: relative;
        overflow: hidden;

        .seg {
            position: absolute;
            left: -999px;
        }
        .text {
            display: inline-block;
            height: 300px;
            position: relative;
            right: 0;
            img {
                position: absolute;
                margin: 2em;
            }
            & > img {
                top: 0;
            }
            & > a > img {
                bottom: 0;
            }
        }
    }

    #Content {
        display: table;
        & > div  {
            display: table-row;
            aside {
                display: table-cell;
            }
            margin: 1em 0;
            top: 110px;
        }
        .feature {
            position: relative;
        }
        .teasers {
            article {
                border-left: 2px solid #eee;
                float: left;
                margin-top: 2em;
                margin-right: 0.9em;
                padding-left: 0.9em;
                padding-bottom: 1em;
                width: 30%;
            }
            & > :first-child {
                border-left: 0;
                margin-left: -0.9em;
            }
        }
        .tips article,
        .connect article {
            background-color: white;
            clear: both;
            min-height: 8em;
            left: 0px;
            position: relative;
            & > :first-child {
                float: left;
                margin: 0 1em 4em 0;
            }
        }
        .tips aside,
        .connect aside {
            border-left: 2px solid #eee;
            padding-left: 0.8em;

        }
        .tips > section > div {
            position: relative;
        }
        .pager {
            position: relative;
            top: -3em;
        }
    }
    footer {
        margin-top: 2em;
    }
    &.mini {
        line-height: 190%;
        padding: 18px;
        width: 480px;

        header {
            margin-bottom: 1em;
        }
        #Content {
            width: 440px;

            .teasers {
                margin-top: 0.5em;

                article {
                    p {
                        margin: 0.5em;
                    }
                    border: 0;
                    float: none;
                    margin: inherit;
                    margin-bottom: 1.5em;
                    padding: inherit;
                    width: auto;
                }
                img {
                    float: left;
                    padding-right: 1em;
                }
                & > :first-child {
                    margin-left: inherit;
                }
            }
        }
        footer {
            margin-top: 0;
        }
    }
}
@media (max-width: 460px) {
    html {
        font-size: inherit;
    }
    #mobile-page body {
        zoom: 0.65;
    }
    #Popup h3 img {
        display: none;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
