@import "__mix";
/* LAYOUT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Page {
    #Content {
    }
}

@media (max-width: 460px) {
    html {
        font-size: inherit;
    }
    #mobile-page body {
        zoom: 0.65;
    }
    #Popup h3 img {
        display: none;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
