@import "__mix";
@import "__ext";
/* MISC */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.cache {
    display: none;
}
img.tilt {
    @extend %ani;
    @include transform( rotate(0deg)  );
    @include transform-origin( 34% 36% 0 );

    &:active {
        @include transform( rotate(90deg) );
    }
}
img.tilted {
    @extend %ani;
    @include transform( rotate(0deg)  );
    @include transform-origin( 34% 36% 0 );

    &:active {
        @include transform( rotate(-90deg) );
    }
}
.show {
    display: initial !important;
}
button.orange {
    @include buttongrad1();
    @include textshadow();

    border: 1px solid $brown;
    border-radius: 4px;
    box-shadow: 0 0 3px $shad1;
    color: white;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 7px 13px;
    &:hover {
        @include buttongrad2();
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
