/* MODALS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.modal {
    background-color: rgba(33,33,33,.33);
    display: none;
    height: 100%; width: 100%;
    left: 0; top: 0;
    position: fixed;
    z-index: 999;

    & > div {
        min-width: 400px;
    }
    #Legal {
        width: 60%;
        margin: 1em auto;
    }
    .text {
        background-color: white;
        border: 1px solid gray;
        border-radius: 3px;
        box-shadow: inset -1px -1px 9px gray;
        line-height: 140%;
        margin-bottom: 2em;
        padding: 1em 1.5em;
    }

    #Video > div {
        border: 12px solid white;
        box-sizing: content-box;
        color: #ccc;
        margin: auto;

        .vjs-big-play-button {
            // background-image: url(./images/controls/play.png);
            border-radius: 10px;
            box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
            font-size: 100%;
            height: 55px; width: 70px;
            left: 43%; top: 45%;

            &:before {
                line-height: 1.777;
                color: rgba(0, 0, 0, 0.2);
                text-shadow: 3px 3px 9px rgba(222, 222, 222, 1);
            }
        }
        .vjs-play-progress, .vjs-volume-level {
            background: rgba(255, 255, 255, 0.5);
        }
        .vjs-control-bar, .vjs-big-play-button {
            background: rgba(222, 222, 222, 0.7);
        }
        .vjs-slider {
            background: rgba(222, 222, 222, 0.3);
        }
        .vjs-control {
            color: $red1;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
