/* REVEALS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.mobile #Layout {
    td.reveal {
        button {
            @include rex('margin', 1);
        }
        .head {
            left: 15px !important;
            top: 15px !important;

            h3 {
                font-size: 120%;
                width: 440px;
            }
        }
        .text {
            left: 15px !important;
            top: 85px !important;

            p {
                line-height: 1;
                margin: 15px 0 !important;
                width: 410px;
            }
        }
        // next row

        // TXT 2
        &.lower.purple {
            .text {
/*                @include rex('width', 25);*/
                hr {
                    width: 410px;
                    height: 0;
                }
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
