@import "__mix";
/* SQUARES */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Layout {
    td.reveal {
        background-image: url(../images/reveals/b0.png);
        height: 257px;

        h3 {
            color: $red;
            font-size: 200%;
        }
        .head, .text {
            padding: 0;
            position: absolute;
        }
        button {
            float: right;
            margin: 2em;
        }

        // next row

        // TXT 1
        &.upper .red {
/*            background-image: url(../images/reveals/t1.png);*/
            &.head {
                left: 1.5rem; top: 5.5rem;
                width: 18em;
            }
            &.text {
                color: gray;
                font-size: 14.5px;
                left: 27rem; top: 3.4rem;
                width: 22em;
            }
        }
        // TXT 1
        &.lower .green {
            &.head {
                left: 1.5rem; top: 5.5rem;
                width: 15em;
            }
            &.text {
                color: gray;
                font-size: 15px;
                left: 27rem; top: 7rem;
                width: 22em;
            }
        }
        // TXT 2
        &.lower .purple {
            &.head {
                left: 1.5rem; top: 5.5rem;
                width: 15em;
            }
            &.text {
                color: gray;
                font-size: 15px;
                left: 27rem; top: 7rem;
                width: 22em;
            }
        }
        // TXT 3
        &.lower .amber {
            &.head {
                left: 1.5rem; top: 5.5rem;
                width: 15em;
            }
            &.text {
                color: gray;
                font-size: 15px;
                left: 27rem; top: 7rem;
                width: 22em;
            }
        }
        // TXT 4
        &.lower .plum {
            &.head {
                left: 1.5rem; top: 5.5rem;
                width: 15em;
            }
            &.text {
                color: gray;
                font-size: 15px;
                left: 27rem; top: 7rem;
                width: 22em;
            }
        }
        // TXT 5
        &.lower .teal {
/*            background-image: url(../images/reveals/b5.png);*/
            &.head {
                left: 1.5rem; top: 5.5rem;
                width: 15em;
            }
            &.text {
                color: gray;
                font-size: 15px;
                left: 27rem; top: 7rem;
                width: 22em;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
