@import "__mix";
/* SQUARES */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Layout {
    td {
        &.reveal1 {
            background-image: url(../images/reveals/b0.png);
            height: 257px;

            h3 {
                color: $red1;
                font-size: 200%;
            }
            .text {
                padding: 0;
                position: absolute;
            }
            .txt5a {
                left: 1.5rem; top: 5.5rem;
                width: 15em;
            }
            .txt5b {
                color: gray;
                font-size: 15px;
                left: 27rem; top: 7rem;
                width: 22em;
            }
            button {
                float: right;
                margin: 2em;
            }
        }

        // next row

        &.reveal2 {
            background-image: url(../images/reveals/b0.png);
            height: 257px;

            h3 {
                color: $red1;
                font-size: 200%;
            }
            .text {
                padding: 0;
                position: absolute;
            }
            .txt5a {
                left: 1.5rem; top: 5.5rem;
                width: 15em;
            }
            .txt5b {
                color: gray;
                font-size: 15px;
                left: 27rem; top: 7rem;
                width: 22em;
            }
            button {
                float: right;
                margin: 2em;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
