@import "__mix";
/* SQUARES */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Layout {
    td {
        &.babe {
            background-image: url(../images/photos/babe.png);
        }
        &.dude {
            background-image: url(../images/photos/dude.png);
        }
        &.cgray {
            background-image: url(../images/colors/cgray.png);

            h3 {
                font-weight: 100;
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 1.25rem;
            }
        }
        &.red {
            background-image: url(../images/colors/red.png);

            h2 {
                font-weight: 100;
                line-height: 1.1;
            }
        }
        &.phones {
            background-image: url(../images/photos/phones.png);
        }

        // next row

        &.green {
            background-image: url(../images/colors/green.png);
        }
        &.purple {
            background-image: url(../images/colors/purple.png);
        }
        &.freek {
            background-image: url(../images/photos/freek.png);
        }
        &.amber {
            background-image: url(../images/colors/amber.png);
        }
        &.plum {
            background-image: url(../images/colors/plum.png);
        }
        &.teal {
            background-image: url(../images/colors/teal.png);
        }

        // next row

        &.reveal {
            background-image: url(../images/reveals/b5.png);
            height: 258px;

            h3 {
                color: $red1;
                font-size: 190%;
            }
            .text {
                padding: 0;
                position: absolute;
            }
            .txt5a {
                border: 1px solid pink;
                left: 1.5rem; top: 5.5rem;
                width: 15em;
            }
            .txt5b {
                border: 1px solid pink;
                color: black;
                font-size: 14.5px;
                left: 27rem; top: 7rem;
                width: 22em;
            }
            button {
                float: right;
                margin-top: 2em;
                margin-right: 11em;
            }
        }
        &.filler {
            background-image: url(../images/photos/filler.png);
            height: 315px;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
