@import "__mix";
/* TEXT */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
article.feature h1 {
    color: $clrB;
    font-family: Archer, Times;
    font-size: 3.8em;
    font-weight: 500;
    line-height: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.plain {
    font-family: Verdana;
    font-weight: normal;
    line-height: 1.3em;
}

h3 {
    @extend .plain;
    color: $dark;
    font-size: 1.7em;
    margin: 0.3em 0;
}
p {
    @extend .plain;
    color: $dark;
    font-size: 1.1em;
    margin: 0.7em 0;
}

a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: $link;
}
.teasers p {
    margin: 1.7em 0 0.7em;
}

footer p {
    color: $gryD;
    font-size: 0.9em;
    line-height: 1.3em;
    margin-top: 0.8em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
